[submodule "deps/boto"]
	path = deps/boto
	url = git://github.com/boto/boto.git
[submodule "deps/virtualenv"]
	path = deps/virtualenv
	url = https://github.com/pypa/virtualenv.git
[submodule "deps/django"]
	path = deps/django
	url = https://github.com/django/django.git
[submodule "deps/jQuery-File-Upload"]
	path = deps/jQuery-File-Upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "deps/pygit2"]
	path = deps/pygit2
	url = https://github.com/libgit2/pygit2.git
